body{
  font-family: Georgia;
  background: url(steel.png);
  text-align: center;
  margin-top:10%;
  margin-bottom: 10%;
}
.Pasos{
  text-align: left;
  padding: 3% ;
}
.Nota{
  text-align: left;
  padding: 3% ;
}
.Menu{
  width: 50% ;
  margin : auto;
  background:rgba(163, 194, 194,0.6);
  padding: 5%;
}
.ButtonMenu{
  border: 2px solid #b3cccc;
  width: 25%;
  border-radius: 15px;
  padding: 1%;
  background-color: #b3cccc;
}
.ButtonMenu:hover{
  background: rgba(179, 204, 204,0.5);
  color: black;
  border-radius: 15px;
}
.ButtonMenu:focus{
  outline: none;
}
#button1{
  margin-top: 5%;
  align-items: center;
}
.TextMenu2{
height: 20px;
border: 10%;
border-radius: 15px;
margin: 3%;
outline: none;
padding: 1%;
transition: 1s;
background:rgba(224, 235, 235);
}
.TextMenu2:focus{
  height: 100px;
}
#texto2:focus{
  height: 15px;
}
#button3{
  margin-left: 5%;
}
#saveFile{
  padding: 5%;
  width:50%;
}
#saveFile:focus{
  outline: none;
}
