body{
  font-family: Georgia;
  background: url(steel.png);
  text-align: center;
}
.Pasos{
  text-align: left;
  padding: 3% ;
}
.Nota{
  text-align: left;
  padding: 3% ;
}
.Menu{
  width: 50% ;
  margin : auto;
  background:rgba(163, 194, 194,0.6);
  padding: 5%;
}
.ButtonMenu{
  border: 2px solid #b3cccc;
  width: 25%;
  border-radius: 15px;
  padding: 1%;
  background-color: #b3cccc;
}
.ButtonMenu:hover{
  background: rgba(179, 204, 204,0.5);
  color: black;
  border-radius: 15px;
}
.ButtonMenu:focus{
  outline: none;
}
#button1{
  margin-top: 5%;
  align-items: center;
}
.TextMenu2{
height: 40px;
width: 300px;
border: 10%;
border-radius: 15px;
margin: 1%;
outline: none;
padding: 1%;
transition: 1s;
background:rgba(224, 235, 235);
}
.TextMenu2:focus{
  height: 100px;
}
#texto2:focus{
  height: 15px;
}
#button3{
  margin-left: 5%;
}
#saveFile{
  padding: 5%;
  width:50%;
}
#saveFile:focus{
  outline: none;
}
@media(max-width:1024px) {
  body{
    margin: 5%;
  }
  .Menu{
    width: auto;
    margin: auto;
  }
  .TextMenu2{
    width: 48%;
  }
  .ButtonMenu{
    width: 50%;
  }

  #texto2{
    width: 20%;
  }

  #texto2.focus{
    height: 15px;
  }
  #button3{
    margin-top: 5%;
    margin-left:0%;
  }
  #saveFile{
    height: 150%;
    margin: 1%;
  }
}


@media (min-width:1024px) {
  body{
    text-align: center;
  }
  .Menu{
    padding-left: auto;
    text-align: center;
    margin:auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
  #texto2{
    width:75px;
  }
  .ButtonMenu{
    padding: auto;
  }
}
