body{
  font-family: Georgia;
  background: url(steel.png);
  text-align: center;
}
.Pasos{
  text-align: left;
  padding: 3% ;
}
.Nota{
  text-align: left;
  padding: 3% ;
}
.Menu{
  width: 50% ;
  margin : auto;
  background:rgba(163, 194, 194,0.6);
  padding: 5%;
}
.ButtonMenu{
  border: 2px solid #b3cccc;
  width: 20%;
  border-radius: 15px;
  padding: 1%;
  background-color: #b3cccc;
  margin: 3%;
}
.ButtonMenu:hover{
  background: rgba(179, 204, 204,0.5);
  color: black;
  border-radius: 15px;
}
.ButtonMenu:focus{
  outline: none;
}
.file-input {
  visibility: hidden;
  width: 0;
  position: relative;
}
#button1{
  margin-top: 5%;
  align-items: center;
}
.TextMenu2{
height: 40px;
width: 300px;
border: 10%;
border-radius: 15px;
margin: 1%;
outline: none;
padding: 1%;
transition: 1s;
background:rgba(224, 235, 235);
}
.TextMenu2:focus{
  height: 150px;
}
#saveOffset:focus{
  height: 15px;
}
#button3{
  margin-left: 0%;
}

@media(max-width:1024px) {
  body{
    margin: 2%;
  }
  .Menu{
    width: auto;
    margin: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
  .ButtonMenu{
    display: grid;
    grid-column: auto;
    padding: auto;
    word-break: break-all;
    margin: auto;
    width: 50%;
  }
  #button2{
    margin-bottom: 2%;
  }
  #button3{
    margin-left: auto;
  }
  .TextMenu2{
    width: 70%;
  }
  #saveOffset{
    width: 10%;
  }
}

@media (min-width:1024px) {
  body{
    text-align: center;
    margin: 5%;
  }
  .Menu{
    padding: 2%;
    text-align: center;
    margin:auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
  .ButtonMenu{
    padding: auto;
    width: 25%;
  }
  .TextMenu2{
    width: 70%;
  }
  #saveOffset{
    width: 10%;
  }
}
